<div>
  <p>
    gallery works!

  </p>

  <ul class="breadcrumb">
    <li *ngFor="let driveID of folderStack"
        class="breadcrumb"
        (click)="goToFolder(driveID)">
       
        {{ driveID }}
      
    </li>
  </ul>


  <div>
    <button mat-button (click)="popFolderStack()">Back!</button>
    <mat-card 
      *ngFor="let folder of folders; let i = index"
      (click)="openFolder(folder.driveID)">
      <p>{{folder.driveID}}</p>
    </mat-card>
    <hr>
    <!-- <img src="https://s3.eu-west-2.amazonaws.com/oslo-images/{{photo.driveID}}" /> -->
    <!-- https://material.angular.io/components/tree/examples -->
    
  </div>
</div>